# **Data Wrangling**

## Dataset Used

The dataset used in this notebook comes from IBM Cloud: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv

> Clicking on the link will download a CSV file

## Objectives

* Identify duplicate rows in the dataset
* Remove duplicate rows and verify the removal 
* Find columns with missing values
* Impute the missing values
* Perform Data Normalizing for certain columns

## Download and Import Libraries

In [ ]:
# Run this cell if the libraries are not installed yet
%pip install pandas
%pip install numpy

In [5]:
# Importing the pandas and numpy libraries
import pandas as pd
import numpy as np

## Loading the Data

In [6]:
# Read the CSV file into a dataframe
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv'
data = pd.read_csv(url)

# Options to display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Display the first five rows
data.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,EmbeddedHaveWorkedWith,EmbeddedWantToWorkWith,EmbeddedAdmired,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,MiscTechAdmired,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,ToolsTechAdmired,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,NEWCollabToolsAdmired,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackAsyncAdmired,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,OfficeStackSyncAdmired,AISearchDevHaveWorkedWith,AISearchDevWantToWorkWith,AISearchDevAdmired,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOHow,SOComm,AISelect,AISent,AIBen,AIAcc,AIComplex,AIToolCurrently Using,AIToolInterested in Using,AIToolNot interested in Using,AINextMuch more integrated,AINextNo change,AINextMore integrated,AINextLess integrated,AINextMuch less integrated,AIThreat,AIEthics,AIChallenges,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Knowledge_9,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have never visited Stack Overflow or the Sta...,NaN,NaN,NaN,NaN,NaN,Yes,Very favorable,Increase productivity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,20,17,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix,Express;Node.js;React,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,MacOS;Windows,MacOS,NaN,NaN,NaN,Microsoft Teams;Slack,Slack,Slack,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,17.0,Agree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,37,27,Developer Experience,NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,C#,C#,C#,Firebase Realtime Database,Firebase Realtime Database,Firebase Realtime Database,Google Cloud,Google Cloud,Google Cloud,ASP.NET CORE,ASP.NET CORE,ASP.NET CORE,Rasberry Pi,Rasberry Pi,Rasberry Pi,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,MSBuild,MSBuild,MSBuild,Visual Studio,Visual Studio,Visual Studio,Windows,Windows,NaN,NaN,NaN,Google Chat;Google Meet;Microsoft Teams;Zoom,Google Chat;Google Meet;Zoom,Google Chat;Google Meet;Zoom,NaN,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow B...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,4,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Canada,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,MongoDB;MySQL;PostgreSQL;SQLite,MongoDB;MySQL;PostgreSQL,MongoDB;MySQL;PostgreSQL,Amazon Web Services (AWS);Fly.io;Heroku,Amazon Web Services (AWS);Vercel,Amazon Web Services (AWS),jQuery;Next.js;Node.js;React;WordPress,jQuery;Next.js;Node.js;React,jQuery;Next.js;Node.js;React,Rasberry Pi,NaN,NaN,NumPy;Pandas;Ruff;TensorFlow,NaN,NaN,Docker;npm;Pip,Docker;Kubernetes;npm,Docker;npm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow,Daily or almost daily,No,NaN,Quickly finding code solutions,"No, not really",Yes,Very favorable,Increase productivity;Greater efficiency;Impro...,Somewhat trust,Bad at handling complex tasks,Learning about a codebase;Project planning;Wri...,Testing code;Committing and reviewing code;Pre...,NaN,Learning about a codebase;Project planning;Wri...,NaN,NaN,NaN,NaN,No,Circulating misinformation or disinformation;M...,Don’t trust the output or answers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,9,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Norway,NaN,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,C++;HTML/CSS;JavaScript;Lua;Python,C++;HTML/CSS;JavaScript;Lua;Python,PostgreSQL;SQLite,PostgreSQL;SQLite,PostgreSQL;SQLite,NaN,NaN,NaN,NaN,NaN,NaN,CMake;Cargo;Rasberry Pi,CMake;Rasberry Pi,CMake;Rasberry Pi,NaN,NaN,NaN,APT;Make;npm,APT;Make,APT;Make,Vim,Vim,Vim,Other (please specify):,NaN,GitHub Discussions;Markdown File;Obsidian;Stac...,GitHub Discussions;Markdown File;Obsidian,GitHub Discussions;Markdown File;Obsidian,Discord;Whatsapp,Discord;Whatsapp,Discord;Whatsapp,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Engage with com...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Handling Duplicate Rows

### Finding Duplicates

In [3]:
# Finding the number of duplicate rows
dup_rows = data[data.duplicated()]
num_dups = dup_rows.shape[0]
print(f'There are {num_dups} duplicate rows')

There are 20 duplicate rows

### Removing Duplicates

In [7]:
# Removing the duplicate rows and verifying
df = data.drop_duplicates()
num_dups = df[df.duplicated()].shape[0]
print(f'There are {num_dups} duplicate rows')

There are 0 duplicate rows

## Handling Missing Values

### Finding Missing Values

In [ ]:
# This method displays the non-null counts for each column
# The total rows is 65437 
# Every column with less than the total row count means it has missing values 
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 65437 entries, 0 to 65436
Data columns (total 114 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    ResponseId                      65437 non-null  int64
 1    MainBranch                      65437 non-null  object
 2    Age                             65437 non-null  object
 3    Employment                      65437 non-null  object
 4    RemoteWork                      54806 non-null  object
 5    Check                           65437 non-null  object
 6    CodingActivities                54466 non-null  object
 7    EdLevel                         60784 non-null  object
 8    LearnCode                       60488 non-null  object
 9    LearnCodeOnline                 49237 non-null  object
 10   TechDoc                         40897 non-null  object
 11   YearsCode                       59869 non-null  object
 12   YearsCodePro                    51610 non-null  object
 13   DevType                         59445 non-null  object
 14   OrgSize                         47480 non-null  object
 15   PurchaseInfluence               47406 non-null  object
 16   BuyNewTool                      45181 non-null  object
 17   BuildvsBuy                      43358 non-null  object
 18   TechEndorse                     43668 non-null  object
 19   Country                         58930 non-null  object
 20   Currency                        46684 non-null  object
 21   CompTotal                       33740 non-null  float64
 22   LanguageHaveWorkedWith          59745 non-null  object
 23   LanguageWantToWorkWith          55752 non-null  object
 24   LanguageAdmired                 50872 non-null  object
 25   DatabaseHaveWorkedWith          50254 non-null  object
 26   DatabaseWantToWorkWith          42558 non-null  object
 27   DatabaseAdmired                 38557 non-null  object
 28   PlatformHaveWorkedWith          42366 non-null  object
 29   PlatformWantToWorkWith          34532 non-null  object
 30   PlatformAdmired                 31377 non-null  object
 31   WebframeHaveWorkedWith          45161 non-null  object
 32   WebframeWantToWorkWith          38535 non-null  object
 33   WebframeAdmired                 34943 non-null  object
 34   EmbeddedHaveWorkedWith          22214 non-null  object
 35   EmbeddedWantToWorkWith          17600 non-null  object
 36   EmbeddedAdmired                 16733 non-null  object
 37   MiscTechHaveWorkedWith          39443 non-null  object
 38   MiscTechWantToWorkWith          32964 non-null  object
 39   MiscTechAdmired                 29596 non-null  object
 40   ToolsTechHaveWorkedWith         52482 non-null  object
 41   ToolsTechWantToWorkWith         46084 non-null  object
 42   ToolsTechAdmired                43997 non-null  object
 43   NEWCollabToolsHaveWorkedWith    57592 non-null  object
 44   NEWCollabToolsWantToWorkWith    52087 non-null  object
 45   NEWCollabToolsAdmired           50711 non-null  object
 46   OpSysPersonal use               58174 non-null  object
 47   OpSysProfessional use           52973 non-null  object
 48   OfficeStackAsyncHaveWorkedWith  48093 non-null  object
 49   OfficeStackAsyncWantToWorkWith  38966 non-null  object
 50   OfficeStackAsyncAdmired         37204 non-null  object
 51   OfficeStackSyncHaveWorkedWith   55545 non-null  object
 52   OfficeStackSyncWantToWorkWith   46711 non-null  object
 53   OfficeStackSyncAdmired          44712 non-null  object
 54   AISearchDevHaveWorkedWith       44453 non-null  object
 55   AISearchDevWantToWorkWith       36701 non-null  object
 56   AISearchDevAdmired              35543 non-null  object
 57   NEWSOSites                      60286 non-null  object
 58   SOVisitFreq                     59536 non-null  object
 59   SOAccount                       59560 non-null  object
 60   SOPartFreq                      45237 non-null  object
 61   SOHow                           58962 non-null  object
 62   SOComm                          59163 non-null  object
 63   AISelect                        60907 non-null  object
 64   AISent                          45873 non-null  object
 65   AIBen                           36894 non-null  object
 66   AIAcc                           37302 non-null  object
 67   AIComplex                       37021 non-null  object
 68   AIToolCurrently Using           35072 non-null  object
 69   AIToolInterested in Using       30691 non-null  object
 70   AIToolNot interested in Using   24414 non-null  object
 71   AINextMuch more integrated      13438 non-null  object
 72   AINextNo change                 12498 non-null  object
 73   AINextMore integrated           24428 non-null  object
 74   AINextLess integrated           2355 non-null   object
 75   AINextMuch less integrated      1148 non-null   object
 76   AIThreat                        44689 non-null  object
 77   AIEthics                        41548 non-null  object
 78   AIChallenges                    37531 non-null  object
 79   TBranch                         44477 non-null  object
 80   ICorPM                          29801 non-null  object
 81   WorkExp                         29658 non-null  float64
 82   Knowledge_1                     28664 non-null  object
 83   Knowledge_2                     28021 non-null  object
 84   Knowledge_3                     28095 non-null  object
 85   Knowledge_4                     28030 non-null  object
 86   Knowledge_5                     27880 non-null  object
 87   Knowledge_6                     27864 non-null  object
 88   Knowledge_7                     27778 non-null  object
 89   Knowledge_8                     27758 non-null  object
 90   Knowledge_9                     27635 non-null  object
 91   Frequency_1                     28369 non-null  object
 92   Frequency_2                     28364 non-null  object
 93   Frequency_3                     27710 non-null  object
 94   TimeSearching                   28911 non-null  object
 95   TimeAnswering                   28844 non-null  object
 96   Frustration                     28251 non-null  object
 97   ProfessionalTech                27764 non-null  object
 98   ProfessionalCloud               28491 non-null  object
 99   ProfessionalQuestion            28807 non-null  object
 100  Industry                        28858 non-null  object
 101  JobSatPoints_1                  29324 non-null  float64
 102  JobSatPoints_4                  29393 non-null  float64
 103  JobSatPoints_5                  29411 non-null  float64
 104  JobSatPoints_6                  29450 non-null  float64
 105  JobSatPoints_7                  29448 non-null  float64
 106  JobSatPoints_8                  29456 non-null  float64
 107  JobSatPoints_9                  29456 non-null  float64
 108  JobSatPoints_10                 29450 non-null  float64
 109  JobSatPoints_11                 29445 non-null  float64
 110  SurveyLength                    56182 non-null  object
 111  SurveyEase                      56238 non-null  object
 112  ConvertedCompYearly             23435 non-null  float64
 113  JobSat                          29126 non-null  float64
dtypes: float64(13), int64(1), object(100)
memory usage: 57.4+ MB

In [10]:
# This find the top 5 columns with the most missing values
df.isnull().sum().sort_values(ascending = False).head()

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
dtype: int64

### Droping Rows Based on Objective

Our original goal is to find data about the technologies. In that case, the most important columns are `LanguageHaveWorkedWith`, `LanguageWantToWorkWith`, `DatabaseHaveWorkedWith`,`DatabaseWantToWorkWith`, `PlatformHaveWorkedWith`, `PlatformWantToWorkWith`, `WebframeHaveWorkedWith`, `WebframeWantToWorkWith`, `ToolsTechHaveWorkedWith`, `ToolsTechWantToWorkWith`, `NEWCollabToolsHaveWorkedWith`, `NEWCollabToolsWantToWorkWith`. 

To get the most accurate date, it is best not to replace the missing values with the most frequent because that would skew the data. Here, I will find how many missing values are in these columns.

In [8]:
target_columns = ['LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith', 
                  'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 
                  'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'ToolsTechHaveWorkedWith',
                  'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith']

for column in target_columns:
    print(df[column].isnull().value_counts())
    print("")

LanguageHaveWorkedWith
False    59745
True      5692
Name: count, dtype: int64

LanguageWantToWorkWith
False    55752
True      9685
Name: count, dtype: int64

DatabaseHaveWorkedWith
False    50254
True     15183
Name: count, dtype: int64

DatabaseWantToWorkWith
False    42558
True     22879
Name: count, dtype: int64

PlatformHaveWorkedWith
False    42366
True     23071
Name: count, dtype: int64

PlatformWantToWorkWith
False    34532
True     30905
Name: count, dtype: int64

WebframeHaveWorkedWith
False    45161
True     20276
Name: count, dtype: int64

WebframeWantToWorkWith
False    38535
True     26902
Name: count, dtype: int64

ToolsTechHaveWorkedWith
False    52482
True     12955
Name: count, dtype: int64

ToolsTechWantToWorkWith
False    46084
True     19353
Name: count, dtype: int64

NEWCollabToolsHaveWorkedWith
False    57592
True      7845
Name: count, dtype: int64

NEWCollabToolsWantToWorkWith
False    52087
True     13350
Name: count, dtype: int64

To not remove an excessive amount of data, I will drop the rows with the least amount of NaN values. Based on that, it seems like the `LanguageHaveWorkedWith` column has the least.

In [ ]:
# This will drop rows based only on the LanguageHaveWorkedWith column
df.dropna(subset=['LanguageHaveWorkedWith'], inplace = True)

In [ ]:
# Verify the process
df['LanguageHaveWorkedWith'].isnull().value_counts()

LanguageHaveWorkedWith
False    59745
Name: count, dtype: int64

## Dropping Columns Based on Objective

There are many columns that I don't need in order to answer my questions. Therefore, I should only include relevant columns. This will also make the dataset smaller as well and easier to load.

In [11]:
df = df[['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'EdLevel', 'YearsCode',
         'YearsCodePro', 'DevType', 'Country', 'CompTotal', 'LanguageHaveWorkedWith', 
         'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith', 
         'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'WebframeHaveWorkedWith', 
         'WebframeWantToWorkWith', 'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith', 
         'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'WorkExp', 'ConvertedCompYearly',
         'JobSat']]

In [12]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,EdLevel,YearsCode,YearsCodePro,DevType,Country,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,WorkExp,ConvertedCompYearly,JobSat
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",20,17,"Developer, full-stack",United Kingdom of Great Britain and Northern I...,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,17.0,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",37,27,Developer Experience,United Kingdom of Great Britain and Northern I...,NaN,C#,C#,Firebase Realtime Database,Firebase Realtime Database,Google Cloud,Google Cloud,ASP.NET CORE,ASP.NET CORE,MSBuild,MSBuild,Visual Studio,Visual Studio,NaN,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Some college/university study without earning ...,4,NaN,"Developer, full-stack",Canada,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,MongoDB;MySQL;PostgreSQL;SQLite,MongoDB;MySQL;PostgreSQL,Amazon Web Services (AWS);Fly.io;Heroku,Amazon Web Services (AWS);Vercel,jQuery;Next.js;Node.js;React;WordPress,jQuery;Next.js;Node.js;React,Docker;npm;Pip,Docker;Kubernetes;npm,NaN,NaN,NaN,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,"Secondary school (e.g. American high school, G...",9,NaN,"Developer, full-stack",Norway,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,C++;HTML/CSS;JavaScript;Lua;Python,PostgreSQL;SQLite,PostgreSQL;SQLite,NaN,NaN,NaN,NaN,APT;Make;npm,APT;Make,Vim,Vim,NaN,NaN,NaN
5,6,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Primary/elementary school,10,NaN,Student,United States of America,NaN,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,Bash/Shell (all shells);HTML/CSS;Java;JavaScri...,Cloud Firestore,Cloud Firestore,Cloudflare,Cloudflare,Node.js,Node.js,Docker;Homebrew;npm;Pip;pnpm,Homebrew;npm;Pip;pnpm,Nano;Vim;Visual Studio Code;Xcode,Nano;Vim;Visual Studio Code;Xcode,NaN,NaN,NaN

### Imputing Missing Values in Numeric Columns

> Note: Since there are over 50% of missing values in some of the columns, I will not impute values for those columns. I will just leave the NaN values there for now.

#### YearsCode Column

Since the `YearsCode` column has a dtype of 'object', I will convert it to 'float' for imputing the average years.

In [ ]:
# Method 1 - fillna

# Replacing the strings to a number
df['YearsCode'].replace('Less than 1 year', '0', inplace = True)
df['YearsCode'].replace('More than 50 years', '50', inplace = True)
df['YearsCode'] = df['YearsCode'].astype(float)

# Replace NaN values with the average
avg_years = round(df['YearsCode'].mean(), 0)
df['YearsCode'].fillna(avg_years, inplace = True)

In [ ]:
# Verify the imputation
df['YearsCode'].isnull().value_counts()

YearsCode
False    59745
Name: count, dtype: int64

#### YearsCodePro Column

The same thing applies to the `YearsCodePro` column. I will also convert it to 'float'.

In [ ]:
# Method 2 - replace

# Replacing the strings to a number
df['YearsCodePro'].replace('Less than 1 year', '0', inplace = True)
df['YearsCodePro'].replace('More than 50 years', '50', inplace = True)
df['YearsCodePro'] = df['YearsCodePro'].astype(float)

# Replace NaN values with the average
avg_years = round(df['YearsCodePro'].mean(), 0)
df['YearsCodePro'].fillna(avg_years, inplace = True)

In [22]:
# Verify the imputation
df['YearsCodePro'].isnull().value_counts()

YearsCodePro
False    59745
Name: count, dtype: int64

### Imputing Missing Values in Categorical Columns

#### RemoteWork Column

In [ ]:
# Method 1 - fillna

# Finding the most frequent value
most_remote = df['RemoteWork'].mode()[0]

# Filling the missing values
df['RemoteWork'].fillna(most_remote, inplace = True)

In [24]:
# Verify the imputation
df['RemoteWork'].isnull().value_counts()

RemoteWork
False    59745
Name: count, dtype: int64

#### EdLevel Column

In [ ]:
# Method 2 - replace

# Finding the most frequent value
freq_ed_level = df['EdLevel'].mode()[0]

# Replace the NaN with most frequent value
df['EdLevel'].replace(np.nan, freq_ed_level, inplace = True)

In [29]:
# Verify the imputation
df['EdLevel'].isnull().value_counts()

EdLevel
False    59745
Name: count, dtype: int64

## Data Normalization

### Min-Max Scaling

(data - min) / (max - min)

#### YearsCode Column

In [39]:
# Creating a new column to place the normalize values
df['YearsCode_MinMax'] = (df['YearsCode'] - df['YearsCode'].min()) / (df['YearsCode'].max() - df['YearsCode'].min())

In [41]:
# Compare the normalized and original values
df[['YearsCode_MinMax', 'YearsCode']].head()

   YearsCode_MinMax  YearsCode
1              0.40       20.0
2              0.74       37.0
3              0.08        4.0
4              0.18        9.0
5              0.20       10.0

### Z-score normalization

(data - mean) / standard deviation

#### YearsCodePro Column

In [42]:
# Placing the normalize values in a new column
df['YearsCodePro_Zscore'] = (df['YearsCodePro'] - df['YearsCodePro'].mean()) / df['YearsCodePro'].std()

In [43]:
# Compare the normalized and original values
df[['YearsCodePro_Zscore', 'YearsCodePro']].head()

   YearsCodePro_Zscore  YearsCodePro
1             0.812509          17.0
2             2.010883          27.0
3            -0.026352          10.0
4            -0.026352          10.0
5            -0.026352          10.0

## Other Techniques

### Binning

Creating a new column: 'ExperienceLevel' based on the 'YearsCodePro' Column

In [37]:
# Create the ranges and labels
ranges = [0, 3, 5, 8, 10, 100]

# Store the names for each range
range_labels = ['Entry', 'Mid', 'Senior', 'Lead', 'Architect']

# Using the function cut to apply the bins
df['ExperienceLevel'] = pd.cut(df['YearsCodePro'], bins = ranges, labels = range_labels, include_lowest=True, ordered=False)

In [38]:
# Displaying 10 rows
df[['YearsCodePro', 'ExperienceLevel']].sample(n = 10, random_state = 42)

       YearsCodePro ExperienceLevel
39276           2.0           Entry
2944           13.0       Architect
64994          19.0       Architect
39938           1.0           Entry
34270           9.0            Lead
14389          10.0            Lead
22694           5.0             Mid
30319           0.0           Entry
51141          20.0       Architect
27535           3.0           Entry

### One-hot Encoding

In [33]:
# Display the values and counts in the MainBranch column
df['MainBranch'].value_counts()

MainBranch
I am a developer by profession                                                           50207
I am not primarily a developer, but I write code sometimes as part of my work/studies     6511
I am learning to code                                                                     3875
I code primarily as a hobby                                                               3334
I used to be a developer by profession, but no longer am                                  1510
Name: count, dtype: int64

In [34]:
# Using the method get_dummies to encode the MainBranch column
# Values only consist of True or False
# Rename the columns for better readability
df_encoded = pd.get_dummies(df['MainBranch'])
df_encoded.columns = ['ProDeveloper', 'Learner', 'OccasionalCoder', 'HobbyCoder', 'FormerDev']
df_encoded.head()

   ProDeveloper  Learner  OccasionalCoder  HobbyCoder  FormerDev
0          True    False            False       False      False
1          True    False            False       False      False
2          True    False            False       False      False
3         False     True            False       False      False
4          True    False            False       False      False

In [35]:
# Adding the new encoded values to the dataframe
new_df = pd.concat([df, df_encoded], axis = 1)

## Exporting the Dataframe to a CSV

In [47]:
df.to_csv("clean_survey_data.csv", index = False)